.hamburger-button{
    display:flex;
    background-color:transparent;
    outline: none;
    border:none;
    flex-direction: column;
    transition: all .5s;
    cursor: pointer;
    row-gap: 8px;
}
.stack{
    width: 40px;
    height:5px;
    transition: all .5s;
    border-radius: 5px;
    background-color:var(--bg-white);
}
.stack:nth-child(2){
    transition: none;
}
.hamburger-button.is-open .stack:nth-child(2){
   opacity:0;
}

.hamburger-button.is-open .stack:nth-child(1){
    transform:rotate(-45deg) translateY(18px) ;
}
.hamburger-button.is-open .stack:nth-child(3){
    transform:rotate(45deg) translateY(-18px) ;
}