.members{
    padding: 30px 10px 100px 10px;
    display:flex;
    align-items:center;
    flex-direction: column;
}
.list-head{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    color: white;
    margin-bottom: 30px;
    width:80%;
    justify-content: space-between;
}
.list-title{
    margin-right: 20px;
    font-family: var(--font-roseritta);
    font-size: 30px;
}
.filterOption{
    display: flex;
    z-index: 1;
    flex-direction: column;
}
.filterChoice{
    margin: 5px 0;
}
.filterOption{
    margin-bottom: 10px;
}
.showInBtn{
    margin-top: 10px;
}
.showInBtn button{
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--font-white);
    background:transparent;
    border: 1px solid var(--font-white);
    border-radius: 5px;
}
.listType.isActive{
    color: var(--font-green);
    border: 1px solid var(--font-green);

}
.clearFilterButton{
    width: 100px;
}
.clearFilterButton{
    margin-right: 20px;
}
@media screen and (min-width:768px) {
    .members{
        padding: 30px 100px;
    }
    .list-head{
        flex-direction: row;
        align-items:flex-end;
    }
    .filterOption{
        flex-direction: row;
    }
    .filterChoice{
        margin: 5px;
    }
}
