.timeline-card {
  width: 250px;
  cursor: pointer;
  top: 0;
  transition: all 0.5s;
  position: relative;
  color: var(--font-green);
}
.timeline-card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -32.3px;
  border-width: 16.5px;
  border-style: solid;
  border-color: transparent rgb(204, 204, 204,.1) transparent transparent;
}
.timeline-card.right::after {
  display: none;
}
.timeline-card.left::after {
  display: none;
}
.timeline-card::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -32.3px;
  border-width: 16.5px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(204, 204, 204,.1);
}
.timeline-card:hover .popup-details {
  max-height: 140px;
}
.popup-details.isHovering{
  max-height: 140px;
}
.timeline-card.right {
  right: 0;
}

.card-title {
  font-weight: bold;
  top: -50px;
  padding: 10px 20px;
  transform:translateY(-40px);
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 11px;
  background-color:rgb(209, 209, 209,.1);
}
.card-title span{
  font-size: 10px;
  font-weight: lighter;
}
.card-description {
  padding: 10px 20px;
  font-size: 12px;
}
.timeline-card.right{
  transform: translateX(100px);
  opacity : 0;
}
.timeline-card.left{
  transform: translateX(-100px);
  opacity : 0;
}
.timeline-item.scrolled .timeline-card{
    transform: translateX(0px);
    opacity : 1;
}
.timeline-item:first-child .timeline-card{
  transform: translateX(0px);
  opacity : 1;
}
.listImage{
  margin-top: 10px;
}
.detailImage{
  width: 60px;
  display: inline-flex;

  margin-right:8px;
  height: 60px;
  background-color: var(--bg-green);
  object-fit: contain;
}
.detailImage img{
  width: 100%;
  object-fit:cover;
  height: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .timeline-card {
    width: 200px;
  }
  .timeline-card {
    position: absolute;
    cursor: pointer;
    top: 0;
    color: var(--font-green);
  }
  .timeline-card.right::after {
    display: none;
  }
  .timeline-card.left::after {
    display: unset;
  }
  .timeline-card.left::before {
    display: none;
  }

  
}
