.popup-details {
  margin-top: 20px;
  font-size: 14px;
  max-height: 0;
  transition: max-height 0.5s;
  backdrop-filter: blur(10px);
  background-color: rgb(209, 209, 209, 0.1);
  overflow-y: scroll;
  border-radius: 4px;
}
.popup-item {
  padding: 10px;
  color: var(--font-white);
}
.popup-item:not(:last-child) {
  border-bottom: 1px solid var(--font-darkgrey);
}
.popup-link {
  text-decoration: none;
  color: var(--font-white);
}
.popup-link p:first-child {
  color: var(--font-gold);
}
