.popup-details{
    margin-top: 20px;
    font-size: 14px;
    height: 0;
    transition: all .5s;
    
    overflow-y: scroll;
}
.popup-item{
    margin-bottom: 10px;
    color: var(--font-white);
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 10px;
}
.popup-link{
    text-decoration: none;
    color: var(--font-white);
}