.timelinePage{
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100vw;
    }
.timeline{
    height: 100%;
    width: 100%;
    color: var(--font-white);
}
.timeline-title{
    text-align: center;
    font-family: var(--font-roseritta);
    color: var(--font-gold);

}
.timeline-title h1{
    font-size: 25px;
    font-family: var(--font-roseritta);
}
.timeline h1{
    font-weight: 700;
}

@media screen and (min-width:768px){
    .timeline{
        max-width:73%;
    }
}

@media screen and (min-width:1024px) {
    .timeline-title h1{
        font-size: 40px;
    }
.timeline{
    max-width:60%;
}
}